<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body> <!-- Renderizado de datos ingresados en el formulario -->
    <h1>Datos</h1><br>
    <h2>Nss: <%= nss %></h2>
    <h2>Nombre: <%= nombre %></h2>
    <h2>Edad: <%= edad %></h2>
    <h2>Tipo de sangre: <%= tipoSangre %></h2>
</body>
</html>